<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>AddNewsServlet</display-name>
        <servlet-name>AddNewsServlet</servlet-name>
        <servlet-class>com.servlet.AddNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewsServlet</servlet-name>
        <url-pattern>/AddNewsServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <display-name>QueryNewsServlet</display-name>
        <servlet-name>QueryNewsServlet</servlet-name>
        <servlet-class>com.servlet.QueryNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryNewsServlet</servlet-name>
        <url-pattern>/QueryNewsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>GetNewsByIdServlet</display-name>
        <servlet-name>GetNewsByIdServlet</servlet-name>
        <servlet-class>com.servlet.GetNewsByIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetNewsByIdServlet</servlet-name>
        <url-pattern>/GetNewsByIdServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <display-name>UpdateNewsServlet</display-name>
        <servlet-name>UpdateNewsServlet</servlet-name>
        <servlet-class>com.servlet.UpdateNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateNewsServlet</servlet-name>
        <url-pattern>/UpdateNewsServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <display-name>DeleteNewsServlet</display-name>
        <servlet-name>DeleteNewsServlet</servlet-name>
        <servlet-class>com.servlet.DeleteNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteNewsServlet</servlet-name>
        <url-pattern>/DeleteNewsServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <display-name>LoginOutServlet</display-name>
        <servlet-name>LoginOutServlet</servlet-name>
        <servlet-class>com.servlet.LoginOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginOutServlet</servlet-name>
        <url-pattern>/LoginOutServlet</url-pattern>
    </servlet-mapping>
</web-app>